<thead>
    <tr>
        <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
        <th>المعرف</th>
        <th>الحساب الأول</th>
        <th>الحساب الثاني</th>
        <th>المبلغ</th>
        <th>العملة</th>
        <th>التاريخ</th>
        <th>الإجراءات</th>
    </tr>
</thead>
<tbody>
    {% for account_movement in account_movements %}
    <tr onclick="clickHandler(event)" data-link="{% url 'account_movement_info' account_movement.id %}">
        <td onclick="event.stopPropagation();">
            <input type="checkbox" class="item-checkbox" value="{{ account_movement.id }}">
        </td>
        <td>{{ account_movement.id }}</td>
        <td>{{ account_movement.from_account.name }}</td>
        <td>{{ account_movement.to_account.name }}</td>
        <td>{{ account_movement.amount }}</td>
        <td>{{ account_movement.currency.name }}</td>
        <td>{{ account_movement.date }}</td>
        <td onclick="event.stopPropagation();">
            <div class="action-buttons">
                <a href="{% url 'delete_account_movement' account_movement.id %}" class="delete-btn" data-id="{{ account_movement.id }}" data-name="{{ account_movement.name }}">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>