<thead>
    <tr>
        <th><input type="checkbox" id="select-all"></th>
        <th>الرقم التعريفي</th>
        <th>اسم الدورة</th>
        <th>الموضوع</th>
        <th>الإجراءات</th>
    </tr>
</thead>

<tbody>
    {% for course in courses %} 
    <tr onclick="clickHandler(event)" data-link="{% url 'course_info' course.id %}">
        <td onclick="event.stopPropagation();">
            <input type="checkbox" class="item-checkbox" value="{{ course.id }}">
        </td>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.subject }}</td>
        <td onclick="event.stopPropagation();">
            <div class="action-buttons">
                <a href="{% url 'delete_course' course.id %}" class="delete-btn">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>