<thead>
    <tr>
        <th><input type="checkbox" id="select-all"></th>
        <th>الرقم التعريفي</th>
        <th>اسم الدورة</th>
        <th>الموضوع</th>
        <th>الإجراءات</th>
    </tr>
</thead>

<tbody>
    {% for course in courses %}
    <tr onclick="clickHandler(event)" data-link="{% url 'department_info' department.id %}">
        <td onclick="event.stopPropagation();">
            <input type="checkbox" class="item-checkbox" value="{{ department.id }}">
        </td>
        <td>{{ department.id }}</td>
        <td>{{ department.name }}</td>
        <td>{{ department.work_hours }}</td>
        <td onclick="event.stopPropagation();">
            <div class="action-buttons">
                <a href="{% url 'delete_department' department.id %}" class="delete-btn">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>