<thead>
    <tr>
        <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
        <th>المعرف</th>
        <th>الاسم</th>
        <th>الحساب</th>
        <th>الحساب المقابل</th>
        <th>المبلغ</th>
        <th>العملة</th>
        <th>التاريخ</th>
        <th>الإجراءات</th>
    </tr>
</thead>
<tbody>
    {% for expense in expenses %}
    <tr onclick="clickHandler(event)" data-link="{% url 'expense_info' expense.id %}">
        <td onclick="event.stopPropagation();">
            <input type="checkbox" class="item-checkbox" value="{{ expense.id }}">
        </td>
        <td>{{ expense.id }}</td>
        <td>{{ expense.name }}</td>
        <td>{{ expense.account.name }}</td>
        <td>{{ expense.opposite_account.name }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.currency.name }}</td>
        <td>{{ expense.date }}</td>
        <td onclick="event.stopPropagation();">
            <div class="action-buttons">
                <a href="{% url 'delete_expense' expense.id %}" class="delete-btn">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>