<thead>
    <tr>
        <th><input type="checkbox" id="selectAll" class="select-all-checkbox"></th>
        <th>العنوان</th>
        <th>الوصف</th>
        <th>الأولوية</th>
        <th>الحالة</th>
        <th>الإجراءات</th>
    </tr>
</thead>
<tbody>
    {% for task in tasks %}
    <tr onclick="clickHandler(event)" data-link="{% url 'task-update' task.id %}">
        <td onclick="event.stopPropagation();">
            <input type="checkbox" class="item-checkbox" value="{{ task.id }}">
        </td>

        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td><span class="priority-badge">{{ task.priority }}</span></td>
        <td>
            <span class="status-badge {% if task.status == 'Completed' %}active{% elif task.status == 'In Progress' %}in-progress{% else %}inactive{% endif %}">
                <i class="bi {% if task.status == 'Completed' %}bi-check-circle{% elif task.status == 'In Progress' %}bi-dash-circle{% else %}bi-x-circle{% endif %}"></i>
                {{ task.status }}
            </span>
        </td>
        <td>
            <div class="action-buttons">
                <a href="{% url 'task-delete' task.id %}" class="delete-btn">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>