{% extends 'base.html' %}

{% block title %}إنشاء دورة تدريبية{% endblock %}

{% block content %}
<div class="form-container">
    <div class="styled-form">
        <div class="form-header">
            <h2>إنشاء دورة </h2>
            <p class="form-subtitle">أدخل تفاصيل الدورة </p>
        </div>

        <form method="post" enctype="multipart/form-data" class="user-profile-form">
            {% csrf_token %}
            
            <div class="form-section">
                <h3 class="section-title">معلومات </h3>
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">اسم الدورة</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="form-error">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.subject.id_for_label }}">الموضوع</label>
                        {{ form.subject }}
                        {% if form.subject.errors %}
                            <div class="form-error">{{ form.subject.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">حفظ</button>
                <a href="{% url 'courses' %}" class="btn btn-secondary">
                    إلغاء
                </a>
            </div>
        </form>
    </div>

    <div class="styled-form">
        <div class="form-header">
            <h2>الموظفين المسجلين</h2>
        </div>
        <div class="table-controls">
            <form method="post" action="{% url 'courses' %}" class="action-form" id="actionForm">
                {% csrf_token %}
                <div class="search-controls">
                    <input type="text" name="q" class="search-input" placeholder="البحث بالاسم...">
                </div>
                <select name="action" class="action-select">
                    <option value="">اختر إجراء</option>
                    <option value="delete">حذف القسم المحددين</option>
                    <option value="export_excel">تصدير إلى إكسل</option>
                </select>
                <button type="submit" class="do-action-btn">تنفيذ الإجراء</button>
                <!-- Add hidden input for selected items -->
                <input type="hidden" name="selected_items" id="selectedItems">

            </form>
        </div>
        <table class="data-table">
            {% include 'partials/courses_employees_partial.html' %}
        </table>

    </div>

</div>
{% endblock %}