{% extends "base.html" %}

{% block title %}قائمة المجموعات{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="h2">المجموعات</h1>
    <a href="{% url 'create_group' %}" class="btn btn-primary">إضافة +</a>
</div>

<div class="table-container">
    <div class="table-controls">
        <div class="search-controls">
            <input hx-get="{% url 'groups' %}" type="text" name="q" class="search-input" placeholder="البحث بالاسم..." value="{{ request.GET.q }}"/>
        </div>
        <div class="action-controls">
            <select id="bulkAction" name="action" class="action-select">
                <option value="" selected disabled>اختر إجراء</option>
                <option value="delete">حذف المجموعات المحددة</option>
            </select>
            <button type="button" class="do-action-btn" onclick="executeBulkAction()">تنفيذ الإجراء</button>
        </div>
    </div>

    <form method="post" action="{% url 'group_action' %}"  id="bulkActionForm">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selectedIds">
        <input type="hidden" name="action" id="selectedAction">
        
        <table class="data-table">

            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>الرقم</th>
                    <th>الاسم</th>
                    <th>الوصف</th>
                    <th>إجراءات</th>
                </tr>
            </thead>

            {% for group in groups %}
            <tr onclick="clickHandler(event)" data-link="{% url 'group_edit' group.id %}">
                <td onclick="event.stopPropagation();">
                    <input type="checkbox" class="item-checkbox" value="{{ group.id }}">
                </td>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td onclick="event.stopPropagation();">
                    <div class="action-buttons">
                        <a href="{% url 'group_delete' group.id %}" class="delete-btn">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

    </form>

    {% include 'pagination.html' %}

</div>

{% endblock %}
