{% extends "base.html" %}

{% block title %}قائمة المناصب{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="h2">جميع المناصب</h1>
    <a href="{% url 'create_position' %}" class="btn btn-primary">إضافة +</a>
</div>

<div class="table-container">
    <div class="table-controls">
        <form method="post" action="{% url 'positions_action' %}" class="action-form" id="actionForm">
            {% csrf_token %}
            <div class="search-controls">
                <input type="text" name="q" class="search-input" placeholder="البحث بالاسم...">
            </div>
            <select name="action" class="action-select">
                <option value="">اختر إجراء</option>
                <option value="delete">حذف المناصب المحددين</option>
            </select>
            <button type="submit" class="do-action-btn">تنفيذ الإجراء</button>
            <!-- Add hidden input for selected items -->
            <input type="hidden" name="selected_items" id="selectedItems">
        </form>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>الرقم التعريفي</th>
                <th>اسم المنصب</th>
                <th>الراتب الافتراضي</th>
                <th>العملة</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr onclick="clickHandler(event)" data-link="{% url 'position_info' position.id %}">
                <td onclick="event.stopPropagation();">
                    <input type="checkbox" class="item-checkbox" value="{{ position.id }}">
                </td>
                <td>{{ position.id }}</td>
                <td>{{ position.name }}</td>
                <td>{{ position.default_salary }}</td>
                <td>{{ position.currency.name }}</td>
                <td onclick="event.stopPropagation();">
                    <div class="action-buttons">
                        <a href="{% url 'delete_position' position.id %}" class="delete-btn">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html' %}

</div>
{% endblock %}
