{% extends "base.html" %}
{% load task_filters %}

{% block title %}تفاصيل النموذج{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="h2">تفاصيل النموذج</h1>
    {% if request.user.role == 'Moderator' or 'Admin' %}
    <a href="{% url 'add_record' form_id %}" class="btn btn-primary">إضافة +</a>
    {% endif %}
</div>

<div class="table-container">
    <div class="table-controls">
        <div class="search-controls">
            <input hx-get="" type="text" name="q" class="search-input" placeholder="البحث بالاسم..." value="{{ request.GET.q }}"/>
        </div>
        <div class="action-controls">
            <a href="{% url 'export_form_pdf' form_id %}" target="_blank">
                <button class=" pdf-btn">PDF</button>
            </a>
            <a href="{% url 'export_form_excel' form_id %}" target="_blank">
                <button class=" excel-btn">EXCEL</button>
            </a>
        </div>
    </div>

    <form method="post" action="{% url 'forms_action' %}"  id="bulkActionForm">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selectedIds">
        <input type="hidden" name="action" id="selectedAction">
        
        <table class="data-table">

            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    {% for field in fields %}
                    <th>{{ field }}</th>
                    {% endfor %}
                    <th>إجراءات</th>
                </tr>
            </thead>

            {% for record in records %}
            <tr onclick="clickHandler(event)" data-link="{% url 'form_detail' form_id %}">
                <td onclick="event.stopPropagation();">
                    <input type="checkbox" class="item-checkbox" value="{{ record.id }}">
                </td>
                <td>{{ record.id }}</td>
                <td>{{ record.created_at }}</td>
                {% for field in fields %}
                    {% if field != 'ID' and field != 'Created At' %}
                        <td>{{ record|get_item:field }}</td>
                    {% endif %}
                {% endfor %}

                <td onclick="event.stopPropagation();">
                    <div class="action-buttons">
                        <a href="{% url 'delete_record' form_id record.id %}" class="delete-btn">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a href="#" class="share-btn">
                            <i class="bi bi-share"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

    </form>

    <div class="pagination-container">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">السابق</a></li>
                <li><a href="#" class="page-link">{{ page_obj.number|add:'-1' }}</a></li>
            {% endif %}
            <li><a href="#" class="page-link active">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li><a href="#" class="page-link">{{ page_obj.number|add:'1' }}</a></li>
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">التالي</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
